html {
	height: 100%;
	max-height: 1000px;
	background: #000 url(./everlest.jpg) no-repeat center top;
}

body {
	background: none;
	color: #232323;
	font: 14px/1.4em 'Open Sans', sans-serif;
}

.todoapp {
	background: #fff;
	margin: 202px 0 40px 0;
	border-radius: 6px;
}

.todoapp h1 {
	color: #000;
	top: -180px;
	font-family: 'Anton', sans-serif;
	letter-spacing: 4px;
	text-shadow: 4px 3px 0 #e7edf0, 9px 8px 0 rgba(0,0,0,0.15);
}

.new-todo {
	padding: 16px 16px 16px 78px;
}

.todo-list li {
	font-size: 20px;
	border: 0;
}

.todo-list li label {
	line-height: 2.2;
	padding: 15px 15px 15px 78px;
}

.toggle-all + label {
	left: 0;
}

.toggle-all + label:before {
	cursor: pointer;
}

.todo-list li .toggle {
	top: 16px;
	left: 20px;
	cursor: pointer;
}

.todo-list li .toggle + label {
	background-position: 16px center;
}

.todo-list li .destroy {
	font-size: 43px;
	top: 2px;
	bottom: 17px;
	right: 23px;
	font-weight: bold;
	cursor: pointer;
	color: #af5b5e;
}

.todo-list li .destroy:hover {
	color: #af5b5e;
}

.footer {
	padding: 25px 15px 15px 15px;
	border-top: 1px solid #ffffff;
}

.footer:before {
	box-shadow: none;
}

.FooterAnimate {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
}
